.article_show
  .row
    .col-xs-12.header
      .thumb
        = image_tag @article.photo, class: "img-responsive"
      .captionn
        %div{class: @article.genre.css_class}
          %span.label
            = @article.genre.name
        %p.title
          = @article.title
  .row
    .col-xs-12.reporters
      .row
        .reporter_header
          = image_tag "reporter.png", :class => "img-responsive"
  .row
    .col-xs-12.article
      %div{class: @article.genre.css_class}
        = raw @article.article

      %div.article_reputation{article_id: "#{@article.id}"}
        %ul
          %li
            .arrow_box #{@reputation[0]}
            = image_tag "reputation_00.png", class: "img-responsive btn-reputation", id: "reputation_00", genre: 0
          %li
            .arrow_box #{@reputation[1]}
            = image_tag "reputation_01.png", class: "img-responsive btn-reputation", id: "reputation_01", genre: 1
          %li
            .arrow_box #{@reputation[2]}
            = image_tag "reputation_02.png", class: "img-responsive btn-reputation", id: "reputation_02", genre: 2
  .row
    .col-xs-12.entry_btn
      = link_to image_tag("entry_off.png", class:"img-responsive"), inquiry_path + "/article/" + @article.id.to_s, id: "entry"

-# - content_for :header_script do
-#   = javascript_include_tag "article"
