<!-- トップカルーセル -->
<div class="row">
  <div class="col-md-12">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
      <!-- 標識の設定 -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
      </ol>
      <!-- スライドさせる画像の設定 -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "demo/bino.top.jpg"%>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag "demo/guri.top.jpg" %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag "demo/take.top.jpg" %>
          <div class="carousel-caption">
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

</div>

<!-- 記事一覧 -->
<div class="square-container">
  <div class="row menu-square square_top">
    <!-- 本体 -->
    <div class="col-sm-4 col_left">
      <div class="article-list">
        <div class="article_image">
          <%= image_tag "demo/bino.top.jpg", :height => "100" %>
        </div>
        <div class="article_title">
          <p class="title">こどもと食につながる体験</p>
          <p class="spicy">
            <%= image_tag "spicy.png" %>
            <%= image_tag "spicy.png" %>
            <%= image_tag "not-spicy.png" %>
            <%= image_tag "not-spicy.png" %>
            <%= image_tag "not-spicy.png" %>
            <span class="spiceness">2</span>spicy
          </p>
        </div>
        <div class="author">
          <div class="author-left">
            <div class="fukidashi"></div>
            <%= image_tag "demo/ume.jpg", :size => "40x40" %>
          </div>
          <div class="author-right">
            <div class="label">
              イベント
            </div>
            <div class="date">
              15.02.08 [sun]
            </div>
            <div class="author-name">
              Reported by うめさん
            </div>
          </div>
        </div>
      </div>



    </div>







    <div class="col-sm-4 col_center">
      <% if @articles[1] %>
      <%= link_to image_tag(@articles[1].photo, :class => "img-responsive"), @articles[1] %>
      <% else %>
      <%= image_tag "dummy.png", :class => "img-responsive" %>
      <% end %>
    </div>
    <div class="col-sm-4 col_right">
      <% if @articles[2] %>
      <%= link_to image_tag(@articles[2].photo, :class => "img-responsive"), @articles[2] %>
      <% else %>
      <%= image_tag "dummy.png", :class => "img-responsive" %>
      <% end %>
    </div>
  </div>
  <div class="row menu-square square_middle">
    <!-- 本体 -->
    <div class="col-sm-4 col_left">
      <% if @articles[3] %>
      <%= link_to image_tag(@articles[3].photo, :class => "img-responsive"), @articles[3] %>
      <% else %>
      <%= image_tag "dummy.png", :class => "img-responsive" %>
      <% end %>
    </div>
    <div class="col-sm-4 col_center">
      <% if @articles[4] %>
      <%= link_to image_tag(@articles[4].photo, :class => "img-responsive"), @articles[4] %>
      <% else %>
      <%= image_tag "dummy.png", :class => "img-responsive" %>
      <% end %>
    </div>
    <div class="col-sm-4 col_right">
      <%= image_tag "icon_to_list.png", :class => "img-responsive" %>
    </div>
  </div>
  <div class="row menu-square square-square_bottom">
    <!-- 本体 -->
    <div class="col-sm-4 col_left">
      <%= image_tag "icon_search.png", :class => "img-responsive" %>
    </div>
    <div class="col-sm-4 col_center">
      <%= image_tag "icon_question.png", :class => "img-responsive" %>
    </div>
    <div class="col-sm-4 col_right">
      <%= image_tag "icon_staff.png", :class => "img-responsive" %>
    </div>
  </div>
</div>
