%div.row.article
  %div.col-md-12
    %h1 記事一覧
    %div.function_button
      = link_to '新規投稿', new_admin_article_path, :class => "btn btn-primary"
%div.row.article
  %div.col-md-12
    %table.table
      %thead
        %tr
          %th &nbsp;
          %th タイトル
          %th 公開日
          %th &nbsp;
      %tbody
        - @articles.each do |article|
          %tr
            %td.photo
              = image_tag article.photo(:thumb), class: "img-responsive"
            %td.title
              %span.group_name
                = article.group.name
              %br
              = article.title
            %td.publication_date
              = article.publication_date
            %td
              = link_to 'プレビュー', article, :class => "btn btn-primary"
              = link_to '編集', edit_admin_article_path(article), :class => "btn btn-primary"
              = link_to '削除', [:admin, article], method: :delete, data: { confirm: '削除すると元に戻せません。よろしいですか？' }, :class => "btn btn-danger"
          %tr
            %td{colspan: 3}
              - if article.address.present?
                活動場所：
                = article.address
              - else
                %div.alert.alert-danger{role: alert}
                  活動場所が指定されていません
                  %br
                  活動場所を登録して下さい
            %td
              - if article.latitude.presence && article.longitude.presence
                = link_to "緯度経度取得済み", "http://maps.google.com/maps?q=#{article.latitude},#{article.longitude}",
                  target: 'brank'
              - else
                %div.alert.alert-danger{role: alert}
                  緯度経度取得失敗
                  %br
                  活動場所を修正して下さい
          %tr
            %td{colspan: 4}
              %table.table.report
                %thead
                  %tr
                    %th
                      レポーター名
                    %th
                      タイトル
                    %th
                      スパイス
                    %th{colspan: "2"}

                %tbody
                  - article.reports.each do |report|
                    %tr
                      %td
                        = report.name
                        （#{report.signature}）
                      %td
                        = report.title
                      %td
                        = report.spice.name
                      %td.function
                        = link_to '変更', edit_admin_report_path(report), class: "btn btn-primary"
                      %td.function
                        = link_to '削除', admin_report_path(report), method: :delete, data: { confirm: '本当によろしいですか？' }, class: "btn btn-danger"
              - if article.reports.count < 3
                = link_to 'レポート作成', new_admin_article_report_path(article.id), class: "btn btn-primary"
