<div class="row">
  <div class="col-sm-12 col-md-9">
    <p id="notice"><%= notice %></p>
    <div class="article">
      <h1><%= @article.title %></h1>
      <div>
      <%= raw @article.article %>
      </div>
    </div>

    <%= link_to 'Edit', edit_admin_article_path(@article) %> |
    <%= link_to 'Back', admin_articles_path %>
  </div>
</div> <!-- .row -->
