<div class="row">
  <div class="col-md-9">
    <div class="article">
      <h1>
        <div class="infomation">
          <span class="label label-<%= @article.genre.css_class %>"><%= @article.genre.name %></span>
          <span class="date"><%= @article.created_at.strftime('%Y.%m.%d') %></span>
          <span class="glyphicon glyphicon-map-marker"></span>
          <%= @article.area.name %>
          </th>
        </div>
        <%= @article.title %>
      </h1>
      <%= image_tag @article.photo(:top), :class => 'img-responsive img-not-float' %>
      <div class="discription">
        <%= @article.discription %>
      </div>
      <div class="<%= @article.genre.css_class %>">
        <%= raw @article.article %>
      </div>

      <% @article.reports.each do |report| %>
        <div class="report">
          <h2>【体験レポート】<%= report.name %> さんより</h2>
          <h3><%= report.title %></h3>
          <p><%= raw report.article %></p>
        </div>
      <% end %>

      <%# 団体情報 %>
      <% if @article.group %>
      <div class="group_info <%= @article.genre.css_class %>">
        <h3><%= link_to @article.group.name, @article.group.url %></h3>
        <table class="table group_info">
          <% if @article.group.master_name %>
          <tr>
            <th>理事長</th>
            <td><%= @article.group.master_name %></td>
          </tr>
          <% end %>
          <% if @article.group.address %>
          <tr>
            <th>所在地</th>
            <td><%= @article.group.address %></td>
          </tr>
          <% end %>
          <% if @article.group.url %>
          <tr>
            <th>ホームページ</th>
            <td><%= link_to @article.group.url, @article.group.url %></td>
          </tr>
          <% end %>
          <% if @article.group.activity %>
          <tr>
            <th>主な活動</th>
            <td><%= raw @article.group.activity %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3 sidebar">
    <%= render partial: "shared/sidebar" %>
  </div>


</div> <!-- .row -->
