- if notice.present?
  %p#notice
    = notice

.row.article.report
  .col-md-12
    %h1
      記事一覧（レポート登録）
    %table.table
      %tbody
        - @articles.each do |article|
          %tr.article
            %td
              %span.group_name= article.group.name
              %br
              %span.article_name
                = article.title
          %tr
            %td
            = article.id
              %table.table
                %thead
                  %tr
                    %th
                      レポーター名
                    %th
                      タイトル
                    %th
                      スパイス
                    %th{colspan: "2"}

                %tbody
                  - article.reports.each do |report|
                    %tr
                      %td
                        = report.name
                        （#{report.signature}）
                      %td
                        = report.title
                      %td
                        = report.spice.name
                      %td.function
                        = link_to '変更', edit_admin_report_path(report), class: "btn btn-primary"
                      %td.function
                        = link_to '削除', admin_report_path(report), method: :delete, data: { confirm: '本当によろしいですか？' }, class: "btn btn-danger"
              = link_to '新規作成', new_admin_article_report_path(article.id), class: "btn btn-primary"
