%p#notice
  = notice

%p
  %strong Article:
  = @report.article_id

%p
  %strong Name:
  = @report.name

%p
  %strong Title:
  = @report.title

%p
  %strong Report date:
  = @report.report_date

%p
  %strong Article:
  = @report.article

%p
  %strong Signature:
  = @report.signature

%p
  %strong Spice:
  = @report.spice_id

= link_to '変更', edit_report_path(@report), class: "btn btn-primary"
= link_to '戻る', reports_path, class: "btn btn-primary"
