.container_inquiry
  = form_for @inquiry, :url => inquiry_confirm_path do |f|
    .page_header
      %h1 お問い合わせ
    - if @inquiry.errors.any?
      %div.alert.alert-danger{role: "alert"}
        %strong 入力内容にエラーがあります
        %ul
          - @inquiry.errors.each do |attr, msg|
            %li #{msg}

    %table.table
      %tr
        %th
          名前
          %span.text-danger （必須）
        %td
          = f.text_field :family_name, :placeholder => "姓", :size => 10, :value => @inquiry.family_name
          = f.text_field :first_name, :placeholder => "名", :size => 10, :value => @inquiry.first_name
      %tr
        %th
          フリガナ
          %span.text-danger （必須）
        %td
          = f.text_field :family_name_kana, :placeholder => "セイ", :size => 10, :value => @inquiry.family_name_kana
          = f.text_field :first_name_kana, :placeholder => "メイ", :size => 10, :value => @inquiry.first_name_kana
      %tr
        %th
          メールアドレス
          %span.text-danger （必須）
        %td
          = f.text_field :email, :size => 40, :value => @inquiry.email
      %tr
        %th お問い合わせ内容
        %td
          = f.text_area :message, :value => @inquiry.message

    = f.submit "確認", class: "btn btn-primary"
