= form_for([:admin, @user]) do |f|
  - if @user.errors.any?
    .error_messages
      %h2
        Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li
            = message

  .form_group
    = f.label :username, "ユーザ名"
    = f.text_field :username, class: "form-control"
  .form_group
    = f.label :email, "メールアドレス"
    = f.text_field :email, class: "form-control"
  .form_group
    = f.label :password, "パスワード"
    = f.password_field :password, class: "form-control"
  .form_group
    = f.label :password_confirmation, "パスワード（確認用）"
    = f.password_field :password_confirmation, class: "form-control"
  - if current_user.administrator
    %br
    .form_group
      = f.label :administrator, "管理者"
      = f.check_box :administrator

  %br
  %div.actions.form_group
    = f.submit class: "btn btn-primary"
  %br
